[submodule "libs/MobitParser"]
	path = libs/MobitParser
	url = https://github.com/HenryMarkle/MobitParser
  branch = main
[submodule "Data"]
	path = Data
	url = git@github.com:SlimeCubed/Drizzle.Data.git
	branch = community
