name: Build with CMake

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download and extract W64Devkit
        run: |
          Invoke-WebRequest -Uri "https://github.com/skeeto/w64devkit/releases/download/v2.1.0/w64devkit-x64-2.1.0.exe" -OutFile "w64devkit.zip"
          Expand-Archive -Path "w64devkit.zip" -DestinationPath "$env:RUNNER_TEMP\w64devkit"
          echo "$env:RUNNER_TEMP\w64devkit\w64devkit\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Verify compiler
        run: g++ --version

      - name: Configure CMake
        run: cmake -B build -G "MinGW Makefiles"

      - name: Build
        run: cmake --build build --config Release
